@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --safe-area-bottom: max(
      100vh - var(--tg-viewport-stable-height, 100vh),
      16px
    );
  }

  #root {
    padding-bottom: var(--safe-area-bottom);
    height: var(--tg-viewport-stable-height, 100vh);
    overflow-y: scroll;
  }

  body {
    background: var(--tg-theme-secondary-bg-color, black);
    color: var(--tg-theme-text-color, white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

    padding: 0;
    margin: 0;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .custom-navbar {
    display: flex;
    justify-items: stretch;

    box-shadow: 0 -1px 0 var(--tgui--divider);
  }

  .surface {
    background: var(--tgui--surface_primary);
  }

  .clip-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@layer components {
  .tg-body {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
  }

  .tg-headline {
    font-size: 19px;
    line-height: 28px;
  }

  .tg-caption2 {
    font-size: 11px;
    line-height: 16px;
  }

  .tg-callout {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.31px;
  }

  .tg-title3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.45px;
  }

  .datepicker-content:before,
  .datepicker-content:after {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    height: calc(50% - 16px);
  }

  .datepicker-content:before {
    top: -0.5px;
    background: linear-gradient(
      to top,
      color-mix(in srgb, var(--tg-theme-section-bg-color) 40%, transparent),
      color-mix(in srgb, var(--tg-theme-section-bg-color) 90%, transparent)
    );
  }
  .datepicker-content:after {
    bottom: -0.5px;
    background: linear-gradient(
      to bottom,
      color-mix(in srgb, var(--tg-theme-section-bg-color) 40%, transparent),
      color-mix(in srgb, var(--tg-theme-section-bg-color) 90%, transparent)
    );
  }
}

.checkmark {
  animation: 0.4s forwards, fade-in 0.5s cubic-bezier(0.2, 0, 0, 1),
    scale 0.3s ease-in-out 0.5s both;
}
.checkmark__check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
